In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#6.5.2
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2021-10-22 01:57:07,70.6333,147.9167,-11.58,95,49,3.47
1,1,Rikitea,PF,2021-10-22 01:56:16,-23.1203,-134.9692,73.89,81,60,23.82
2,2,San Patricio,US,2021-10-22 01:57:07,28.0170,-97.5169,78.89,66,15,7.61
3,3,Viedma,AR,2021-10-22 01:57:07,-40.8135,-62.9967,50.40,69,41,11.14
4,4,Kodiak,US,2021-10-22 01:57:08,57.7900,-152.4072,37.99,72,100,9.24

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#this is setting any negative temperatures to 0 by using the max(temp,0)
#max is getting the largest value between temperature and 0, so if its negative it is appended as 0
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

#OR use list comprehension to do the same thing, see comment on line 9 below

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
# Assign the heatmap variable.
# this is doing the list comprehension to fix the negative temperatures to 0, using max()
# looking between temp and 0 for the highest number, if its negative then its switched to a 0
#dissipating means it shrinks as you soom, turned it off
#max intensity makes each measuremnt have a better gradient variance
#point radius makes each measuremnet radius larger
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#6.5.3
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,San Patricio,US,2021-10-22 01:57:07,28.0170,-97.5169,78.89,66,15,7.61
6,6,Cockburn Town,TC,2021-10-22 01:57:08,21.4612,-71.1419,83.37,77,13,19.22
8,8,Meulaboh,ID,2021-10-22 01:57:09,4.1363,96.1285,78.84,86,82,3.06
16,16,Pecos,US,2021-10-22 01:57:11,31.4229,-103.4932,76.30,57,1,6.91
21,21,Amapa,BR,2021-10-22 01:57:13,1.0000,-52.0000,76.91,78,100,2.57
22,22,Benjamin Constant,BR,2021-10-22 01:57:13,-4.3831,-70.0311,78.93,87,35,0.98
24,24,Rio Branco,BR,2021-10-22 01:57:14,-9.9747,-67.8100,83.01,78,20,4.61
31,31,Butaritari,KI,2021-10-22 01:57:16,3.0707,172.7902,82.72,71,16,12.12
35,35,Hilo,US,2021-10-22 01:55:33,19.7297,-155.0900,79.29,78,4,3.00
37,37,Lorengau,PG,2021-10-22 01:56:35,-2.0226,147.2712,78.94,83,100,5.64

In [12]:
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [13]:
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
2        San Patricio      US     78.89  28.0170  -97.5169
6       Cockburn Town      TC     83.37  21.4612  -71.1419
8            Meulaboh      ID     78.84   4.1363   96.1285
16              Pecos      US     76.30  31.4229 -103.4932
21              Amapa      BR     76.91   1.0000  -52.0000
22  Benjamin Constant      BR     78.93  -4.3831  -70.0311
24         Rio Branco      BR     83.01  -9.9747  -67.8100
31         Butaritari      KI     82.72   3.0707  172.7902
35               Hilo      US     79.29  19.7297 -155.0900
37           Lorengau      PG     78.94  -2.0226  147.2712

In [14]:
#6.5.4
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,San Patricio,US,78.89,28.0170,-97.5169,"Motel 6 Sinton, TX"
6,Cockburn Town,TC,83.37,21.4612,-71.1419,Osprey Beach Hotel
8,Meulaboh,ID,78.84,4.1363,96.1285,Kost Pria
16,Pecos,US,76.30,31.4229,-103.4932,Knights Inn & Suites Pecos
21,Amapa,BR,76.91,1.0000,-52.0000,
22,Benjamin Constant,BR,78.93,-4.3831,-70.0311,CASA AVALIADA
24,Rio Branco,BR,83.01,-9.9747,-67.8100,Inácio Palace Hotel
31,Butaritari,KI,82.72,3.0707,172.7902,Isles Sunset Lodge
35,Hilo,US,79.29,19.7297,-155.0900,Hilo Hawaiian Hotel
37,Lorengau,PG,78.94,-2.0226,147.2712,Lorengau Harbourside Hotel

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))