## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(15)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Victoria,HK,22.2855,114.1577,75.33,76,99,1.01,overcast clouds,2021-10-25 23:16:05
1,1,Atuona,PF,-9.8000,-139.0333,77.50,75,25,16.04,light rain,2021-10-25 23:10:59
2,2,Bireun,ID,5.2030,96.7009,77.29,83,85,2.84,overcast clouds,2021-10-25 23:16:31
3,3,Auki,SB,-8.7676,160.7034,85.84,63,47,4.45,moderate rain,2021-10-25 23:16:31
4,4,Bengkulu,ID,-3.8004,102.2655,74.34,89,100,3.04,overcast clouds,2021-10-25 23:11:39
5,5,Harper,LR,4.3750,-7.7169,77.85,80,100,9.04,overcast clouds,2021-10-25 23:15:51
6,6,Hilo,US,19.7297,-155.0900,89.28,73,40,12.66,scattered clouds,2021-10-25 23:11:05
7,7,San Patricio,US,28.0170,-97.5169,88.52,63,94,12.30,overcast clouds,2021-10-25 23:16:29
8,8,Ushuaia,AR,-54.8000,-68.3000,33.21,86,64,3.69,broken clouds,2021-10-25 23:08:13
9,9,Georgetown,MY,5.4112,100.3354,80.53,88,20,2.30,few clouds,2021-10-25 23:08:27
10,10,Mahebourg,MU,-20.4081,57.7000,70.25,72,19,17.36,few clouds,2021-10-25 23:10:49
11,11,Timbiqui,CO,2.7717,-77.6654,75.87,92,91,3.36,light rain,2021-10-25 23:15:23
12,12,Iqaluit,CA,63.7506,-68.5145,31.69,83,62,5.99,broken clouds,2021-10-25 23:06:20
13,13,Mataura,NZ,-46.1927,168.8643,66.04,64,88,1.30,overcast clouds,2021-10-25 23:10:36
14,14,Punta Arenas,CL,-53.1500,-70.9167,41.11,70,40,9.22,scattered clouds,2021-10-25 23:06:35

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Victoria,HK,22.2855,114.1577,75.33,76,99,1.01,overcast clouds,2021-10-25 23:16:05
1,1,Atuona,PF,-9.8000,-139.0333,77.50,75,25,16.04,light rain,2021-10-25 23:10:59
2,2,Bireun,ID,5.2030,96.7009,77.29,83,85,2.84,overcast clouds,2021-10-25 23:16:31
4,4,Bengkulu,ID,-3.8004,102.2655,74.34,89,100,3.04,overcast clouds,2021-10-25 23:11:39
5,5,Harper,LR,4.3750,-7.7169,77.85,80,100,9.04,overcast clouds,2021-10-25 23:15:51
10,10,Mahebourg,MU,-20.4081,57.7000,70.25,72,19,17.36,few clouds,2021-10-25 23:10:49
11,11,Timbiqui,CO,2.7717,-77.6654,75.87,92,91,3.36,light rain,2021-10-25 23:15:23
13,13,Mataura,NZ,-46.1927,168.8643,66.04,64,88,1.30,overcast clouds,2021-10-25 23:10:36
17,17,Rikitea,PF,-23.1203,-134.9692,75.31,72,78,20.11,broken clouds,2021-10-25 23:10:37
28,28,Dwarka,IN,22.2394,68.9678,77.59,59,0,8.30,clear sky,2021-10-25 23:16:36

In [14]:
# 4a. Determine if there are any empty rows
preferred_cities_df.count()

City_ID                281
City                   281
Country                277
Lat                    281
Lng                    281
Max Temp               281
Humidity               281
Cloudiness             281
Wind Speed             281
Current Description    281
Date                   281
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                277
City                   277
Country                277
Lat                    277
Lng                    277
Max Temp               277
Humidity               277
Cloudiness             277
Wind Speed             277
Current Description    277
Date                   277
dtype: int64

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Victoria,HK,75.33,overcast clouds,22.2855,114.1577,
1,Atuona,PF,77.50,light rain,-9.8000,-139.0333,
2,Bireun,ID,77.29,overcast clouds,5.2030,96.7009,
4,Bengkulu,ID,74.34,overcast clouds,-3.8004,102.2655,
5,Harper,LR,77.85,overcast clouds,4.3750,-7.7169,
10,Mahebourg,MU,70.25,few clouds,-20.4081,57.7000,
11,Timbiqui,CO,75.87,light rain,2.7717,-77.6654,
13,Mataura,NZ,66.04,overcast clouds,-46.1927,168.8643,
17,Rikitea,PF,75.31,broken clouds,-23.1203,-134.9692,
28,Dwarka,IN,77.59,clear sky,22.2394,68.9678,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
#Despite there being some "hotel not found...skipping" above, the .count() shows that there aren't actually any missing... 
#however of there were any, i would clean them out by using hotel_df.dropna()

City                   277
Country                277
Max Temp               277
Current Description    277
Lat                    277
Lng                    277
Hotel Name             277
dtype: int64

In [19]:
hotel_df.head(15)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Victoria,HK,75.33,overcast clouds,22.2855,114.1577,Mini Hotel Central
1,Atuona,PF,77.50,light rain,-9.8000,-139.0333,Villa Enata
2,Bireun,ID,77.29,overcast clouds,5.2030,96.7009,Rumah Bp.AR. ISMAIL
4,Bengkulu,ID,74.34,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
5,Harper,LR,77.85,overcast clouds,4.3750,-7.7169,Screensaver
10,Mahebourg,MU,70.25,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
11,Timbiqui,CO,75.87,light rain,2.7717,-77.6654,hotel diana
13,Mataura,NZ,66.04,overcast clouds,-46.1927,168.8643,Ellie's Villa
17,Rikitea,PF,75.31,broken clouds,-23.1203,-134.9692,People ThankYou
28,Dwarka,IN,77.59,clear sky,22.2394,68.9678,Hotel Narayan Avezika Comfort
32,Diamantino,BR,75.60,overcast clouds,-14.4086,-56.4461,Hotel Delta
34,Bambous Virieux,MU,70.21,few clouds,-20.3428,57.7575,Casa Tia Villa
40,Port Alfred,ZA,63.16,scattered clouds,-33.5906,26.8910,The Halyards Hotel
41,Pathein,MM,73.31,scattered clouds,16.7833,94.7333,New Pammawaddy Hotel
42,Bethel,US,68.00,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))